<h1>Welcome to the <%=@instrument.name%> Page </h1>

<h2> Brand: <%=@instrument.brand%> </h2>

<h3> Here are all the artist that play similar instruments  </h3>

<%@this_instrument_artists.each do |artist|%>

<li>
  <a href="/artists/<%=artist.id%>">

  <%=artist.name%>

  </a>

</li>

<%end%>
